<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head-common'); -%>
  </head>
  <body>
    <div class="container">
      <header></header>
      <nav><%- include('layouts/nav-common'); -%></nav>
      <br><br>
      <aside><%- include('layouts/aside'); -%></aside>
      <main class=".main-common">
        <div class="main-post-div">
          <h3 style="text-align: center;">All Available Book and Resource Listings</h3>
          <% if (typeof(sortedData)!=='undefined') { 
            for(let i =0;i<sortedData.length;i++){
              if(sortedData[i].type==="book"){
                %> <%-
                include('layouts/post-container',{listing:sortedData[i],update:false},);
          -%> <% } else{

            %> <%-
                include('layouts/post-container-download',{resource:sortedData[i],update:false},);
          -%> <%
          }
            }
           } else{  %>
          <% for( let i = 0; i < resources.length; i++ ) { %> <%-
          include('layouts/post-container-download',{resource:resources[i],update:false});
          -%> <% } %> <% for( let i = 0; i < listings.length; i++ ) { %>
          <%-include('layouts/post-container',{listing:listings[i],update:false},);
          -%> <% }} %>
        </div>
      </main>
      <footer><%- include('layouts/footer-common'); -%></footer>
    </div>
  </body>
</html>
