<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head-common'); -%>
</head>
<body>
    <div class="container">
        <header>
            <%- include('layouts/header-common'); -%>
        </header>
        <div class="nav-public">
            <%- include('layouts/nav-public'); -%>
        </div>
        <br>
        <main class=".main-common">
            <%- include('layouts/signup-container'); -%>
        </main>
        <aside></aside>
        <footer>
            <%- include('layouts/footer-common'); -%>
        </footer>
    </div>
</body>
</html>